
<ul style="list-style-type:none; columns:2;">
  <li *ngFor="let skill of skills">
    <button class="skill" (click)="addMove(skill)"> <span class="badge">{{skill.id}}</span></button> {{skill.name}}
  </li>
</ul>

<div style="position: relative;">
<table>
    <tr>
    	<th> <app-render-skill [skill]="attacks[0]"></app-render-skill><th>
    	<th> <app-render-skill [skill]="attacks[1]"></app-render-skill><th>
    	<th> <app-render-skill [skill]="attacks[2]"></app-render-skill><th>
    	<th> <app-render-skill [skill]="attacks[3]"></app-render-skill><th>
    	<th> <app-render-skill [skill]="attacks[4]"></app-render-skill><th>
    	<th> <app-render-skill [skill]="attacks[5]"></app-render-skill><th>
        <th *ngIf="enoughAt">
        	Enough attacks!
        </th>
    </tr>
</table>
</div>

<div style="position: relative; left: 30px;">
<table>
    <tr>
    	<th> <app-render-skill [skill]="defences[0]"></app-render-skill><th>
    	<th> <app-render-skill [skill]="defences[1]"></app-render-skill><th>
    	<th> <app-render-skill [skill]="defences[2]"></app-render-skill><th>
    	<th> <app-render-skill [skill]="defences[3]"></app-render-skill><th>
    	<th> <app-render-skill [skill]="defences[4]"></app-render-skill><th>
    	<th> <app-render-skill [skill]="defences[5]"></app-render-skill><th>
        <th *ngIf="enoughDef">
        	Enough defences!
        </th>
    </tr>
</table>
</div>

<div *ngIf="continue && !renderDuel">
	<button class="fight" (click)="makeDuel()">Start duel!</button>
</div>

<div *ngIf="renderDuel">
	<button class="fight" (click)="nextRound()">Show next round</button>
	<br>
	Your Health: {{hp}} Enemy Health: {{en_hp}}
	<div *ngIf="fightFinished">
		{{verdict}}
	</div>
	<ul style="list-style-type:none">
		<li *ngFor="let round of roundsToRender; let i=index">
			<app-render-round [round]="round" *ngIf="i+3 >= roundsToRender.length"></app-render-round>
		</li>
	</ul>
</div>