.fightComp {
    background-color: #777777;
    display: grid;
    grid-template-columns: 10% 10% 1fr 1fr 10% 10%;
    grid-template-rows: 100px 100px 100px 150px 1fr;
    grid-template-areas:
    ". renderedSkill_0 renderedSkill_0   renderedSkill_3 renderedSkill_3 ."
    ". renderedSkill_1 renderedSkill_1   renderedSkill_4 renderedSkill_4 ."
    ". renderedSkill_2 renderedSkill_2   renderedSkill_5 renderedSkill_5 ."
    ". .               moves             moves           fightButtonDiv  ."
    ". fight           fight             fight           fight           ."
}

.renderedSkill_0 {
    grid-area: renderedSkill_0;
    background-color: #abcdef;
}

.renderedSkill_1 {
    grid-area: renderedSkill_1;
    background-color: #fedcba;
}

.renderedSkill_2 {
    grid-area: renderedSkill_2;
    background-color: #abcdef;
}

.renderedSkill_3 {
    grid-area: renderedSkill_3;
    background-color: #fedcba;
}

.renderedSkill_4 {
    grid-area: renderedSkill_4;
    background-color: #abcdef;
}

.renderedSkill_5 {
    grid-area: renderedSkill_5;
    background-color: #fedcba;
}

.fightButtonDiv {
    grid-area: fightButtonDiv;
    background-color: blue;
}

.fight {
    grid-area: fight;
    background-color: red;
}


/*Subgrid for moves*/

.moves {
    grid-area: moves;
    display: grid;
    background-color: #76baff;
    grid-template-columns: 1fr 60px 60px 60px 60px 60px 60px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    ". attack_0  attack_1  attack_2  attack_3  attack_4  attack_5  ."
    ". defence_0 defence_1 defence_2 defence_3 defence_4 defence_5 ."
}

.attack_0 {
    grid-area: attack_0;
    background-color: #00cdef;
}

.attack_1 {
    grid-area: attack_1;
    background-color: #00dcba;
}

.attack_2 {
    grid-area: attack_2;
    background-color: #00cdef;
}

.attack_3 {
    grid-area: attack_3;
    background-color: #00dcba;
}

.attack_4 {
    grid-area: attack_4;
    background-color: #00cdef;
}

.attack_5 {
    grid-area: attack_5;
    background-color: #00dcba;
}

.defence_0 {
    grid-area: defence_0;
    background-color: #ffcdef;
}

.defence_1 {
    grid-area: defence_1;
    background-color: #ffdc00;
}

.defence_2 {
    grid-area: defence_2;
    background-color: #ffcdef;
}

.defence_3 {
    grid-area: defence_3;
    background-color: #ffdc00;
}

.defence_4 {
    grid-area: defence_4;
    background-color: #ffcdef;
}

.defence_5 {
    grid-area: defence_5;
    background-color: #ffdc00;
}
