<div class="fightComp">
  <div class="renderedSkills">
    <div *ngFor="let skill of skills; let i=index" class="renderedSkill_{{i}}">
      <!-- renderedSkill_{{i}} -->
      <app-render-skill [skill]="skill" (click)="addMove(skill)"></app-render-skill>
    </div>
  </div>
    <div class="moves">
        <div class="attack_0">
            <!-- attack_0 -->
            <app-render-skill [skill]="attacks[0]"></app-render-skill>
        </div>
        <div class="attack_1">
            <!-- attack_1 -->
            <app-render-skill [skill]="attacks[1]"></app-render-skill>
        </div>
        <div class="attack_2">
            <!-- attack_2 -->
            <app-render-skill [skill]="attacks[2]"></app-render-skill>
        </div>
        <div class="attack_3">
            <!-- attack_3 -->
            <app-render-skill [skill]="attacks[3]"></app-render-skill>
        </div>
        <div class="attack_4">
            <!-- attack_4 -->
            <app-render-skill [skill]="attacks[4]"></app-render-skill>
        </div>
        <div class="attack_5">
            <!-- attack_5 -->
            <app-render-skill [skill]="attacks[5]"></app-render-skill>
        </div>
        <!-- <div *ngIf="enoughAt">
            Enough attacks!
        </div> -->
        <div class="defence_0">
            <!-- defence_0 -->
            <app-render-skill [skill]="defences[0]"></app-render-skill>
        </div>
        <div class="defence_1">
            <!-- defence_1 -->
            <app-render-skill [skill]="defences[1]"></app-render-skill>
        </div>
        <div class="defence_2">
            <!-- defence_2 -->
            <app-render-skill [skill]="defences[2]"></app-render-skill>
        </div>
        <div class="defence_3">
            <!-- defence_3 -->
            <app-render-skill [skill]="defences[3]"></app-render-skill>
        </div>
        <div class="defence_4">
            <!-- defence_4 -->
            <app-render-skill [skill]="defences[4]"></app-render-skill>
        </div>
        <div class="defence_5">
            <!-- defence_5 -->
            <app-render-skill [skill]="defences[5]"></app-render-skill>
        </div>
    <!--     <div *ngIf="enoughAt">
            Enough defences!
        </div> -->
    </div>
        <div class="fightButtonDiv">
            <button class="fightButton" (click)="stepDuel()">{{ renderDuel ? 'Show next round' : 'Start duel!' }}</button>
        </div>

    <div class="fight">
        <div *ngIf="renderDuel">
            <div class="hpInfo">
            Your Health: {{hp}}
            <meter value="{{hp}}" min="0" max="40"></meter><br>
            Enemy Health: {{en_hp}}
            <meter value="{{en_hp}}" min="0" max="40"></meter>
            </div>
            <div *ngIf="fightFinished">
                {{verdict}}
            </div>
            <ul style="list-style-type:none">
                <li *ngFor="let round of roundsToRender; let i=index">
                    <app-render-round [round]="round" *ngIf="i+3 >= roundsToRender.length"></app-render-round>
                </li>
            </ul>
        </div>
    </div>
</div>